@import "vars";
@import "mixins";

img {
  vertical-align: top;
}
body {
  background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333;
  // (방향, 시작지점, 끝지점 반복할 두께, 나머지공간 투명도, 반복할 크기), 나머지공간 색상
  font-family: "Poppins", "Noto Sans KR";
}

button {
  background: none;
  border: none;
  padding: 0;
  outline: 0;
}

.overHidden {
  overflow: hidden;
}

#header {
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include longShadow(darken(#fff, 10), right, 30);
  font-weight: 700;
  font-size: 18px;
  h1 {
    font-size: 18px;
  }
}

.form {
  margin-top: 100px !important;
  table {
    background-color: #fff;
    .titleWrap {
      display: flex;
      align-items: center;
      #title {
        width: 600px;
        margin-right: 20px;
      }
      .category {
        label {
          margin-left: 10px;
        }
      }
    }
  }
}

#filter {
  ul {
    display: flex;
    justify-content: center;
    li {
      padding: 15px 40px;
      background-color: #000;
      color: #fff;
      border-radius: 100px;
      margin: 0 5px;
      cursor: pointer;
      &.on {
        background-color: #f00;
      }
    }
  }
}

#list {
  width: 1200px;
  margin: 100px auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 24%;
      //flex-basis: 24%; // 넓이 24%
      //flex-grow: 1; // 남아있는 넓이를 동등하게 배분
      margin: 0.5%;
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      a {
        color: #111;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      .replyCount {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        background-color: #f00;
        color: #fff;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include longShadow(darken(#f00, 10), right, 20);
        overflow: hidden;
      }
      .imgBox {
        img {
          width: 100%;
        }
      }
      .info {
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#insertBtns {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  .btnConfirm {
    padding: 15px 40px;
    background-color: #f00;
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
  }
}

#detail {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); //뒤에 블러처리..
  color: #fff;
  display: none;
  overflow: auto;
  padding-bottom: 100px;
  .container {
    width: 1300px;
    height: auto;
  }
  .btnClose {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #111;
  }
  .imgBox {
    margin-top: 50px;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover; // contain : 가로세로비 맞춤  cover : 잘려나감
    }
  }
  .replyBox {
    .inner {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      textarea {
        width: 1100px;
        height: 120px;
        padding: 10px;
        color: #111;
        resize: none;
        outline: none;
      }
      button {
        background-color: #ccc;
        color: #111;
        width: calc(1300px - 1100px - 10px);
      }
    }
    .txtCount {
      margin-top: 10px;
      text-align: end;
    }
  }
  .replyList {
    li {
      padding: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .btns {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      padding: 20px 80px;
      border-radius: 100px;
      background-color: #666;
      color: #fff;
      margin: 0 10px;
      &.btnDelete,
      &.btnReplyDelete {
        background-color: #f00;
      }
    }
  }
}

.fileBox {
  display: flex;
  justify-content: space-between;
  .fakeFile {
    width: calc(100% - 110px) !important;
    box-sizing: border-box;
  }
  input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
  }
  label {
    display: flex;
    background-color: #111;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
